.element__rectangle{
    width: 20.7px;
    height: 18.13px;
    align-self: center;
    background-image: url('../../../images/heart.svg');
    background-position: center;
    background-size: cover;
    border: none;
    background-color: white;
    outline: 0;
}