.profile__about{
    max-width: 450px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    grid-area: about;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width: 588px){
    .profile__about{
        justify-self: center;
        font-size: 14px;
        line-height: 17px;
    }
}