.popup__input{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    width: 100%;
    outline: 0;
}

.popup__input:first-child{
    margin-bottom: 30px;
}

.popup__about:focus{
    outline: 0;
}