.header{
    display: flex;
    max-width: 880px;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 880px){
    .header{
        max-width: 826px;
        padding-left: 27px;
        padding-right: 27px;
    }
}

@media all and (max-width: 550px){
    .header{
        margin-top: 28px;
        margin-bottom: 38.25px;
    }
}